:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-background-color: #ffffff;
    --accent-btn: rgba(24, 140, 232, 1);

}

$font-family-body: "Roboto",sans-serif;
$font-weight-primary:700;
$font-weight-header: 500;
$font-weight-secondary: 400;

